
Plans2.0.xcodeproj/project.xcworkspace/xcuserdata/alexpallozzi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Plans2.0.xcodeproj/project.xcworkspace/xcuserdata/alexpallozzi.xcuserdatad/UserInterfaceState.xcuserstate
Plans2.0/.DS_Store
Plans2.0/.DS_Store
Plans2.0.xcodeproj/project.pbxproj
